<nav class="navbar navbar-dark bg-dark">
  <div >
    <select class="form-control" [(ngModel)]="selectedMin" (ngModelChange)="getLast()" >
      <option *ngFor="let min of minYears" [value]="min"  >
        {{min}}
      </option>
    </select >
  </div>
  <div>
    <select class="form-control" [(ngModel)]="selectedMax" (ngModelChange)="getLast()">
      <option *ngFor="let max of maxYears" [value]="max"  >
        {{max}}
      </option>
    </select>
  </div>
  <div>
    <button class="btn btn-m btn-outline-secondary" (click)="getCars()" >Filter</button>
  </div>

</nav>

<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>Id</th>
    <th>Mark</th>
    <th>Model</th>
    <th>Color</th>
    <th>Year</th>
    <th>Actions</th>
  </tr>
  </thead>


  <tbody>
  <tr *ngFor="let car of carList">
    <td>{{car.id}}</td>
    <td>{{car.mark}}</td>
    <td>{{car.model}}</td>
    <td>{{car.color}}</td>
    <td>{{car.year}}</td>
    <td>
      <button (click)="updateCar(car.id)" class="btn btn-info">Update</button>
      <button (click)="deleteCar(car.id)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
    </td>
  </tr>
  </tbody>

</table>

